.aboutUs {
  display: flex;
  align-items: center;
  max-width: 1081px; 
  width: 100%; 
  margin: 100px auto -20px; 
  padding: 0 20px; 
  justify-content: space-between; 
}

.aboutContent {
  flex: 1; 
  box-sizing: border-box; 
}

.aboutTitle {
  font: 700 40px Lato;
  color: #0081CA;
  /* margin-bottom: 40px; */
}

.aboutDescription {
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: justify;
  color: #000000;
  font-family: Merriweather, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
}


.aboutImageWrapper {
  flex: 1;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.aboutImage {
  object-fit: contain; 
  width: 100%; 
  padding-left: 12%; 
}


@media (max-width: 991px) {
  .aboutUs {
    flex-direction: column;
    /* margin-top: 40px; */
    margin-top: 100px;

  }
  
  .aboutContent {
    padding: 0 50px 0 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}


@media (max-width: 1024px) {
  .aboutTitle {
    font-size: 36px; 
    margin-bottom: 35px; 
  }

  .aboutDescription {
    font-size: 18px; 
    letter-spacing: 1px; 
    margin-bottom: 18px; 
  }
  .aboutImage {
    width: 80%; 
    padding-left: 5%; 
  }
}

@media (max-width: 500px) {
  .aboutUs {
    width: 100%;
    margin-top: 100px;

  }
  .aboutTitle {
    font-size: 26px; 
    margin-bottom: 20px; 
  }
  .aboutDescription {
    font-size: 14px; 
    letter-spacing: 0.5px; 
    margin-bottom: 10px;
    padding: 8px;
  }
  .aboutImage {
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .aboutUs {
    padding: 0 45px; 
    justify-content: center; 
    width: 85%;
    /* max-width: 300px; */
    margin: 0 10px;
    margin-top: 70px;
  }
  .aboutContent {
    margin: 0 -45px; 
    padding: 0 50px 0 0;
  }

  .aboutTitle {
    font-size: 32px; 
    margin-bottom: -10px; 
    padding: 8px;
  }

  .aboutDescription {
    letter-spacing: 0.5px; 
    margin-bottom: 15px; 
    font-size: 16px;
  }
  .aboutTitle {
    font-size: 32px;
  }
  .aboutImage{
    height: 300px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 80px 0 0;
  }
}

