
.ModalBox {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    z-index: 1000;
    overflow: auto;
}


.ModalContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: #000000;
    margin-top: 2.5rem;
    font-family: 'Arial', sans-serif;
    width: 600px;
    height: 550px;
}


.XButton {
    place-self: end;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    /* margin-bottom: -20px; */
    margin: 0 20px -20px 0;
}

.XButton:hover {
    color: #ff0000;
    transform: scale(1.1);
    transition: all 0.3s ease;
}


.ModalContent {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding: 2.5rem 5rem;
    margin: 0 1rem;
    border-radius: 0.75rem;
    background-color: #fcbe21d6;
    /* background-color: #ffffff; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.ModalDiscription {
    font-size: 22px;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin: -10px;
    margin-bottom: 5px;
}



.ContactUs {
    display: flex;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 188px;
    max-width: 500px;
    font-weight: 500;
    background-color: #0081CA;
    color: #ffffff;
    text-align: center;
    border: none;
    height: 61px;
    box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.25);
}


.ContactUs a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo {
    height: 50px;
}

.ModalFlex {
    display: flex;
}

.modalIcon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 2px solid #3b3b3b;
    margin-bottom: 20px;
    padding: 10px;
}

.ModalFlex {
    display: flex;
}

.ModalTitle {
    /* font-family: Merriweather, sans-serif; */
    font-family: Merriweather;
    margin: 0 10px;
    font-size: 27px;
    line-height: 2.25rem;
    font-weight: 900;
    text-align: left;
    color: black;
    margin-bottom: 1rem;
    display: grid;
    align-items: center;
    width: 150px;
}

.ModalContent ul{
    margin: -10px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .ModalContent {
        padding: 2rem 3rem;
        margin: 0 0.5rem;
    }
    .ModalTitle {
        font-size: 1.5rem;
    }
    .ModalDescription {
        font-size: 1.375rem;
    }
    .ContactUs {
        padding: 0.75rem 1rem;
        gap: 0.25rem;
    }
}


@media (max-width: 480px) {
    .ModalContent {
        padding: 1.5rem 2rem;
        margin: 0 0.25rem;
    }
    .ModalTitle {
        font-size: 1.25rem;
    }
    .ModalDescription {
        font-size: 0.75rem;
        border: 2px solid red;
    }
    .ContactUs {
        padding: 0.75rem;
        gap: 0.25rem;
    }
}

@media (max-width: 1000px) {
    .ModalContainer {
        margin-top: 1.5rem;
        gap: 1rem;
        height: 550px;
        width: 500px;
    }
}

@media (max-width: 550px) {
    .ModalContainer {
        margin-top: 1.5rem;
        gap: 1rem;
        height: 380px;
        width: 350px;
    }
    .ModalTitle{
        font-size: 24px;
    }
    .ModalDiscription{
        margin: 0;
        font-size: 15px;
        margin-top: -20px;
        line-height: 1.2em;

    }
    .ModalContent ul{
        font-size: 15px;
        margin-top: -20px;
    }
    .ModalContent h3{
        margin-top: 0px;
    }
    .ModalContent{
        height: 360px;
    }
    .ContactUs{
        size: 10px;
        height: 40px;
    }
    .ContactUs a{
        font-size: 18px;
    }
}

