.Content{
  margin-top: 70px;
  align-items: center;
}

.Content h1{
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: bold;
  color: #1390CC;
}

.ListOfService{
  height: auto;
  height: auto;
  width: 90%;
  margin: auto;
  /* box-shadow: -5px 6px 5px lightblue; */
  box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.347);
}

.ListofImg{
  display: flex;
  justify-content:space-around;
  list-style: none;
  padding: 10px;
  flex-wrap: wrap;
}

.ListofImg li{
  height: 120px;
  width: 70px;
  text-align: center;
}

.ListofImg img{
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
}

.ListofImg li:hover{
  color: #149CEA;
}

.ListofImg img:hover{
  border: 2px solid #149CEA;
}
.ListofImg li:active{
  color: #FCBD21;
}

.ListofImg img:active{
  border: 2px solid #FCBD21;
}

.ListofImg li:hover::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /* border-top: 10px solid black; */
}


@media (max-width:500px) {
  .ListofImg{
    gap: 20px;
  }
}
@media (max-width:800px) {
  .ListofImg{
    gap: 20px;
  }
}