.services {
  margin: 79px auto 0;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.servicesHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 0 25px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logoImage {
  position: relative;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  max-width: 88%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.servicesDescription {
  font-size: 22px;
  margin-top: 37px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

@media (max-width: 991px) {
  .services {
    margin-top: 40px;
    padding: 0 20px;
  }

  .servicesGrid {
    display: grid;
    margin: 0 10px 0 -20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .services {
    margin-top: 40px;
    padding: 0 20px;
  }

  .servicesGrid {
    display: flex;
    flex-direction: column;
    margin-top: -80px;

  }

  .servicesHeader {
    display: flex;
    flex-direction: column;
  }

  .headerContent {
    margin: 0 30px 0 0px;
  }

  .logoImage {
    margin: 0 30px 0 0;
  }

}

.servicesTitle {
  margin: 0;
  padding: 10px 0;
  color: #0081CA;
  font-family: lato;
  font-weight: 700;
  font-size: 40px;
}

.servicesSubtitle {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  font-family: lato;
}

.servicesDescription {
  margin: 0;
  padding: 0;
}