.ServiceDetailFlex {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    margin: auto;
}

.ServiceOffer h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    color: #149CEA;
    font-family: Merriweather;
}

.ServiceOffer {
    width: 50%;
}

.title h2 {
    color: #149CEA;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 40px;
    font-family: Merriweather;
}

.title h3 {
    color: black;
    margin: -10px 0 0 40px;
    font-size: 25px;
    font-family: Merriweather;
}

.title p {
    color: black;
    margin: 15px 0 20px 40px;
    font-size: 23px;
    font-family: Lato;
}

.ServiceDetailFlex img {
    height: 70%;
    width: 45%;
    padding: 10px 50px 10px 50px;
}

.ServiceOffer ul {
    display: flex;
    flex-direction: column;
    height: auto;
    width: calc(100%-73);
    font-family: Lato;
}

.ServiceOffer ul li {
    font-family: Lato;
    text-align: left;
    font-size: 25px;
    line-height: 65px;
    list-style: none;
    padding-left: 50px;

}


.ContactUs {
    display: flex;
    padding: 0.75rem 1.25rem;
    margin: auto;
    margin-top: 1rem;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 188px;
    max-width: 500px;
    font-weight: 500;
    background-color: #FCBD21;
    color: #ffffff;
    text-align: center;
    border: none;
    height: 50px;
    box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.ContactUs a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.Conlusion h3 {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    font-family: Lato;
}

@media (max-width: 1024px) {

    .ServiceDetailFlex {
        width: 100%;
        flex-direction: row;
    }

    .ServiceDetailFlex img {
        width: 50%;
        height: auto;
        padding: 10px 10px 0 30px;
    }

    .title h2 {
        margin-left: 30px;
        font-size: 35px;
    }

    .title h3 {
        margin-left: 30px;
        font-size: 25px;
    }

    .title p {
        margin-left: 30px;
        font-size: 20px;
    }

    .ServiceOffer {
        width: 95%;
        margin: auto;
        margin-top: 20px;
    }

    .ServiceOffer h2 {
        font-size: 30px;
    }

    .ServiceOffer ul li {
        text-align: left;
        font-size: 23px;
        margin-top: -10px;
        margin-left: -55px;
    }
}

@media (max-width: 560px) {
    .ServiceDetailFlex {
        width: 100%;
        flex-direction: column;
    }

    .ServiceDetailFlex img {
        width: 90%;
        height: auto;
        padding: 10px 10px 0 18px;

    }

    .title h2 {
        margin-left: 20px;
        font-size: 35px;
    }

    .title h3 {
        margin-left: 20px;
        font-size: 25px;
    }

    .title p {
        margin-left: 20px;
        font-size: 20px;
    }

    .ServiceOffer {
        width: 95%;
        margin: auto;
        margin-top: 20px;
    }
    
    .ServiceOffer h2 {
        font-size: 30px;
    }

    .ServiceOffer ul li {
        text-align: left;
        font-size: 25px;
        margin-top: -10px;
        margin-left: -55px;
    }
}