.serviceCard {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  height: 275px;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}

.serviceIcon {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 2px solid #3b3b3b;
  margin-bottom: 20px;
  padding: 10px;
}

.serviceTitle {
  display: grid;
  font-family: Merriweather, sans-serif;
  font-size:  22px;
  margin: 5px;
  padding: 15px 5px ;
}

.serviceflex{
  display: flex;
}

.serviceDescription {
  font-family: Lato, sans-serif;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
}

.learnMore {
  color: #424242;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}


.learnMore:hover {
  transform: scale(1.05);
}


.servicesTitle {
  font-family: Merriweather, sans-serif;
  margin-bottom: 20px;
  font-size: 50px;
  border: 2px solid red;
}


.learnMore {
  color: #424242;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  display: block;
}

/* Phones */
@media (max-width: 768px) {
  .serviceTitle {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .serviceTitle {
    font-size: 18px;
  }
  .serviceDescription{
    font-size: 18px;
  }
  
}

.logo{
  height: 50px;
}