.whyChooseUs {
  background-color: #FCBD21;
  /* padding: 32px 80px; */
  padding: 10px;
  margin-top: 84px;
  text-align: center;
  height: auto;
  /* width: 100%; */
  border: 5px solid rgb(0, 0, 0);
}

.title {
  color: #0081CA;
  letter-spacing: 1px;
  font-family: lato;
  font-weight: 700;
  font-size: 40px;
}

.description {
  color: #000;
  letter-spacing: 1px;
  margin-top: 35px;
  max-width: 715px;
  margin-left: auto;
  margin-right: auto;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.reasonsGrid {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 36px;
  border: 2px solid red;
  height: auto;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;

}

.reasonCard {
  text-align: center;
  max-width: 290px;
}

.reasonIcon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 60px;
  margin-bottom: 20px;
}

.reasonTitle {
  color: #1a1a1a;
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-size: 21px;
  margin-top: 0px;
}

.reasonDescription {
  color: #000000;
  font-family: Merriweather, sans-serif;
  font-size: 17px;
  font-weight: 400;
  /* letter-spacing: 3px; */
}

/* @media (max-width: 991px) {
  .whyChooseUs {
    margin-top: 40px;
    padding: 32px 20px;
  }

  .reasonsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .reasonsGrid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }
} */